/*
DarkAB Keyframes: https://keyframes.darkab.eu/index.php
Link keyframes.css file to your html document into the <head></head> section
*/

/* Animations */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.kf-fade-in {
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.kf-fade-in-top {
  animation: fade-top;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.kf-fade-in-bottom {
  animation: fade-bottom;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.kf-fade-in-left {
  animation: fade-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.kf-fade-in-right {
  animation: fade-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.kf-fade-out {
  animation: fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.kf-fade-out-top {
  animation: fade-top;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.kf-fade-out-bottom {
  animation: fade-bottom;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.kf-fade-out-left {
  animation: fade-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.kf-fade-out-right {
  animation: fade-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: reverse;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.kf-zoom-in {
  animation-name: zoom;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.kf-zoom-out {
  animation-name: zoom;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: reverse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.kf-pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  95% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.kf-wiggle {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

/* Change animation attributes */

.kf-d-1 {
  animation-duration: 1s;
}

.kf-d-2 {
  animation-duration: 2s;
}

.kf-d-3 {
  animation-duration: 3s;
}

.kf-d-4 {
  animation-duration: 4s;
}

.kf-d-5 {
  animation-duration: 5s;
}

.kf-d-10 {
  animation-duration: 10s;
}

.kf-i-1 {
  animation-iteration-count: 1;
}

.kf-i-2 {
  animation-iteration-count: 2;
}

.kf-i-3 {
  animation-iteration-count: 3;
}

.kf-i-4 {
  animation-iteration-count: 4;
}

.kf-i-5 {
  animation-iteration-count: 5;
}

.kf-i-10 {
  animation-iteration-count: 10;
}

.kf-i-infinite {
  animation-iteration-count: infinite;
}
